#menu {
  text-align: center;
  background-color: #0000; }
  #menu #menu ul {
    background-color: #0000;
    font: small-caps 100%/200% serif;
    list-style: none;
    margin: 0;
    padding: 0; }
    #menu #menu ul #menu ul li {
      display: inline-block; }
      #menu #menu ul #menu ul li #menu ul li a {
        color: #5ebef5;
        padding: 15px 10px;
        display: inline-block;
        text-decoration: none; }
        #menu #menu ul #menu ul li #menu ul li a #menu ul li a:hover {
          background-color: #fadf47; }

.listadiscos {
  padding: 20px;
  background-size: contain;
  color: #28694b;
  display: grid;
  grid-template-columns: 3, 1fr;
  grid-gap: 10px;
  grid-auto-flow: row;
  grid-auto-rows: auto; }
  .listadiscos .listadiscos a {
    text-decoration: none;
    color: darkslategrey; }

.redes h2 {
  text-align: center;
  padding-top: 30px;
  font-size: small;
  color: white; }
  .redes h2 .redes ul {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    float: center; }
    .redes h2 .redes ul .redes li {
      display: inline-block; }
      .redes h2 .redes ul .redes li .redes li:hover {
        transform: scale(2); }
        .redes h2 .redes ul .redes li .redes li:hover .redes a {
          margin: 10px;
          padding: 10px; }

.bloque {
  background-color: brown;
  text-align: right;
  width: 100%; }

.bloque__link {
  width: auto;
  background-color: cadetblue; }

.bloque__texto {
  background-color: chocolate; }

.bloque__titulo {
  text-decoration: none;
  width: 100%;
  color: chartreuse; }

.bloque__enlace-titulo {
  text-decoration: none;
  text-align: start;
  font-style: italic; }
