$celeste: #50bfff;
$blanco: #ffffff;
$verde: #2f4f4f;
$negro: #000000;
body{
    padding: 0;
    margin: 0;
    background-color:$negro;
}
/*logo "la vela puerca*/
.logo{
    width: 200px;
    height: 80px;
    animation-name: logo;
    animation-duration: .1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
@keyframes logo{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
    
}
.titulo{
    margin: 10px;
    font-family: fantasy;
    font-size: 50px;
    text-align:center;
    color: $celeste;
}
#btn-menu{
    display: none;
}
/*btn*/
header label{
    display: none;
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: $celeste;
    
    header label:hover{
        cursor: pointer;
    }}
    /*barra menu*/
    @mixin menu {
        border-top: 1px solid brown;
        text-align: center;
        margin: 0;
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    #menu ul{
        @include menu;
        #menu li:hover{
            background: rgba(0, 0, 0, 0.3);
            #menu li a{
                display: block;
                padding: 20px;
                color: $blanco;
                text-decoration: none;
            }}}
            .contenedorvideo{
                width: 100%;
                height: 100%;
                margin-bottom: 20px;
            }
            /*spotify*/
            .spotify{
                float: left;
                padding: 40px;
                margin-bottom: 30px;
                .spotify p{
                    text-align: center;
                    font-size: 15px;
                    font-family: serif;
                    background-color: $verde;
                    border-style: double;
                    padding: 15px;
                    border-radius: 20px;
                    color: $verde;
                    animation-name: spotify;
                    animation-duration: .4s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                }}
                @keyframes spotify{
                    from{
                        color:$celeste;
                    }
                    to{
                        color: yellow;
                    }
                }
                /*formulario*/
                form {
                    background-color: $verde;
                    padding: 20px;
                    border-radius: 30px;
                    float: left;
                    margin: auto 40px;
                    padding: 40px;
                    form input{
                        width: 90%;
                        margin: 10px;
                        margin-bottom: 20px;
                        padding: 10px;
                        font-size: 15px;
                        form label{
                            color: $blanco;
                            
                        }}}
                        .contactenos{
                            text-align: center;
                            font-family: cursive;
                            font-size: 20px;
                            color: $blanco;
                        }
                        .titulolavela{
                            background-color: $verde;
                            font-weight: bold;
                            text-align: center;
                            font-size: 50px;
                            padding: 20px;
                            margin: 20px;
                        }
                        /*seccion banda*/
                        .bandap1{
                            margin: 20px 20px 20px 20px;
                            padding: 20px;
                            font-family: fantasy;
                            text-align: center;
                            font-size: 50px;
                            .banda{
                                text-align: center;
                                margin: 20px 20px 20px 20px;
                                padding: 20px;
                                font-family: sans-serif;
                                font-size: 50px;
                                color: $celeste;
                            }}
                            /*seccion banda*/
                            .integrantes{
                                color: rgb(40, 107, 112);
                                background-color: $negro;
                                text-align: center;
                                font-family: Arial;
                                font-size: 30px;
                                width: 100%;
                                display: grid;
                                grid-template-columns: repeat(2,1fr);
                                grid-column-gap: 10px;
                                grid-row-gap: 15px;
                                align-items: center;
                                .integrante1{
                                    width: 100%;
                                    .integrantesimg{
                                        width: 100%;
                                    }}}
                                    /*seccion historia*/
                                    @mixin historia {
                                        margin: 20px 20px 20px 20px;
                                        padding: 20px;
                                        color: $celeste;
                                        font-size: 50px;
                                        font-family: sans-serif;
                                        text-align: center;
                                    }
                                    .historia{
                                        @include historia;
                                        .historiap{
                                            margin: 10px;
                                            padding: 20px;
                                            background-color: rgba(250, 197, 127, 0.705);
                                            font-size: 20px;
                                            font-family: sans-serif;
                                            color: $negro;
                                            border-radius: 20px;
                                        }}
                                        /*seccion discos*/
                                        .discos{
                                            margin: 20px 20px 20px 20px;
                                            padding: 20px;
                                            text-align: center;
                                            color: $celeste;
                                            font-family: sans-serif;
                                            .listadiscos ul{
                                                list-style: none;
                                                text-decoration: none;
                                                .listadiscos{
                                                    font-size: 20px;
                                                    list-style: none;
                                                    text-align: center;
                                                    padding: 20px;
                                                    background-size: contain;
                                                    color: $verde;
                                                    .listadiscos a{
                                                        list-style: none;
                                                        text-decoration: none;
                                                        color: $verde;
                                                    }}}}
                                                    /*seccion fotos*/
                                                    .fotos{
                                                        margin: 20px 20px 20px 20px;
                                                        padding: 20px;
                                                        text-align: center;
                                                        color: $celeste;
                                                        font-family: sans-serif;
                                                        font-size: 50px;
                                                    }
                                                    /*grid de fotos*/
                                                    .gridcont{
                                                        width: 100%;
                                                        display: grid;
                                                        grid-template-columns: repeat(3,1fr);
                                                        grid-template-rows: repeat(3,1fr);
                                                        grid-column-gap: 10px;
                                                        grid-row-gap: 10px;
                                                        align-items: center;
                                                    }
                                                    .zoomimg:hover{
                                                        transform: scale(1.1);
                                                        
                                                        .zoomimg{
                                                            border-width: 2px;
                                                            border-radius: 30px;
                                                            border-color:$celeste;
                                                            border-style:ridge;
                                                            width: 100%;
                                                            object-fit: cover;
                                                            padding: 10px;
                                                            margin: 10px;
                                                        }}
                                                        /*redes*/
                                                        .redes h2{
                                                            text-align: center;
                                                            padding-top: 30px;
                                                            font-size: 15px;
                                                            font-family: cursive;
                                                            color:$verde;
                                                            .redes ul{
                                                                padding: 10px;
                                                                margin: 10px;
                                                                display: grid;
                                                                grid-template-columns: repeat(4,40px);
                                                                justify-content: center;
                                                                .redes li{
                                                                    display:inline-block;
                                                                    width: 70%;
                                                                    .redes li:hover{
                                                                        transform: scale(1.2);
                                                                    }}}}
                                                                    .creador{
                                                                        text-align: center;
                                                                        color: $verde;
                                                                        font-size: 15px;
                                                                        font-weight: bold;
                                                                        font-family: cursive;
                                                                    }
                                                                    /*fotos de discos*/
                                                                    #grid {
                                                                        display: grid;
                                                                        grid-template-columns: repeat(4,25%);
                                                                        grid-template-rows: repeat(2,1fr) ;
                                                                        width: 100%;
                                                                        #grid div {
                                                                            display: flex;
                                                                            padding: 10px;
                                                                            #grid img {
                                                                                max-width: 100%;
                                                                                padding: 10px;
                                                                            }}}
                                                                            
                                                                            @media screen and (max-width:768px){
                                                                                header label{
                                                                                    background-color: $negro;
                                                                                    display: block;
                                                                                } 
                                                                                #menu{
                                                                                    position: absolute;
                                                                                    background: $celeste;
                                                                                    width: 50%;
                                                                                    margin-left: -100%;
                                                                                    #menu ul{
                                                                                        flex-direction: column;
                                                                                        #menu li{
                                                                                            border-top: 1px solid $celeste;
                                                                                        }}}
                                                                                        #btn-menu:checked ~ #menu{
                                                                                            margin-left: 0;
                                                                                        }
                                                                                        .logo{
                                                                                            display: none;
                                                                                        }
                                                                                        .titulo{
                                                                                            text-align:center;
                                                                                            color: $celeste;
                                                                                        }
                                                                                        #menu{
                                                                                            position: absolute;
                                                                                            text-align: center;
                                                                                            background-color:$negro;
                                                                                        }
                                                                                        .contenedorvideo{
                                                                                            width: 100%;
                                                                                        }
                                                                                        .titulolavela{
                                                                                            text-align: center;
                                                                                            font-size: 20px;
                                                                                        }
                                                                                        .integrantes p{
                                                                                            font-size: 17px;
                                                                                        }
                                                                                        .fotos{
                                                                                            margin: 0;
                                                                                        }
                                                                                        .gridcont{
                                                                                            margin: 0;
                                                                                            display: grid;
                                                                                            grid-template-columns: repeat(2,1fr);
                                                                                        }
                                                                                        .zoomimg{
                                                                                            margin: 0;
                                                                                        }
                                                                                        .discos{
                                                                                            width: 100%;
                                                                                            margin: 0;
                                                                                        }
                                                                                        form{
                                                                                            margin-left: 0;
                                                                                        }
                                                                                    }
                                                                                    @media (max-width: 480px) {	
                                                                                        .integrantes,
                                                                                        .gridcont {
                                                                                            display: grid;
                                                                                            grid-template-columns: 1fr;
                                                                                        }
                                                                                        #grid {
                                                                                            display: grid;
                                                                                            grid-template-columns: repeat(2,50%);
                                                                                            grid-template-rows: repeat(4,1fr);
                                                                                        }
                                                                                    }
                                                                                    